<link rel="stylesheet" href="../assets/bootstrap.min.css">

<form class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">
          <input type="text" class="form-control" placeholder="New Note" required name='1' (input)="mydata.setHint('red', 'unsaved')" [(ngModel)]='mydata.note.title' />
      </h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <!-- editor -->
      <app-edit></app-edit>
      <!-- preview -->
      <app-preview></app-preview>

    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" (click)='mydata.saveNote()'>Save</button>
    <button (click)='mydata.noteDelete()' *ngIf="mydata.note.from != 'new' " class="btn btn-danger pull-right">Delete</button>
  </div>
</form>