<link rel="stylesheet" href="../assets/bootstrap.min.css">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">My Notebook - Personal Markdown Convert Verision</a>
        <a href='#' (click)='mydata.helpPOP()' style='color:orange;font-style:italic' class="navbar-brand" >Syntax HELP</a>
      </div>
  </div>
</nav>
