
<link rel="stylesheet" href="../assets/bootstrap.min.css">
<app-help *ngIf='mydata.help'></app-help>
<body>
    <!--nav-->
    <app-nav></app-nav>

    <!--container-->
    <div class="container" style='margin-top:75px'>
        <div class="row">
            <!--my notes - on left -->
            <app-notes></app-notes>
            <!-- editing - on right-->
            <div class="col-sm-9">
                <!-- showing spot -->
                <app-show></app-show>                
            </div>
        </div>
    </div>
    
</body>