<link rel="stylesheet" href="../assets/bootstrap.min.css">

<!--左侧目录栏-->
<div class="col-sm-3">
    <div class="panel panel-default">

        <!------>
        <div class="panel-heading">
            <h3 class="panel-title">
                <button (click)='mydata.newNoteButton()' class="btn btn-primary btn-xs pull-right">New</button> My Notes
            </h3>
        </div>
        <!------>

        <!------>
        <div class="panel-body">
            <!--no notes then shows this-->
            <p *ngIf='mydata.noteList.length === 0'>No notes</p> 
            <!-- have notes show this -->
            <ul *ngFor='let val of mydata.noteList' (click)='mydata.readNoteDetail(val._id)' class="list-group"> 
                <li class="list-group-item">{{val.title}}<br />
                <small>{{val.updatedAt | date:'medium'}}</small> <!--Date-->
                </li>
            </ul>
        </div>
        <!------>

    </div>
</div>
<!------>