<link rel="stylesheet" href="../assets/bootstrap.min.css">

<div class="col-sm-6">
  <h3>Editor <span class='hint' [ngStyle]="{ 'color' : mydata.hint_color }">{{mydata.hint}}</span></h3>
  <textarea (input)="mydata.preview_show()" [(ngModel)]='mydata.note.content' class="form-control editor" rows="22" placeholder="Note Content" required>
  </textarea>
</div>