<link rel="stylesheet" href="../assets/bootstrap.min.css">

<div class='layout'>

    <div class="container">
        
        <p class='header'>Header</p>
        <p class="text-success">Syntax - # Hello</p>
        <p class="text-muted">Up to header 6</p>

        <p class='header'>Wrap Text</p>
        <p class="text-success">Syntax - __hey! (2 space)</p>

        <p class='header'>Hightlight</p>
        <p class="text-success">Syntax - `Hello World!`</p>

        <p class='header'>Bold Text</p>
        <p class="text-success">Syntax - **Hello World!**</p>
        <p class="text-muted">do not convert wrap text</p>

        <p class='header'>Deleted Text</p>
        <p class="text-success">Syntax - ~~Hello World!~~</p>
        <p class="text-muted">do not convert wrap text</p>

        <p class='header'>Italic Text</p>
        <p class="text-success">Syntax - *Hello World!*</p>
        <p class="text-muted">do not convert wrap text</p>
        
        <p class='header'>Dividing line</p>
        <p class="text-success">Syntax - ***</p>
        

    </div>

</div>