*{
    font-family: Arial, Helvetica, sans-serif;font-style: italic
}
.layout {
    width:100%;height:100%;background-color:white;position: absolute;z-index:999;
}
p{
    font-size:15px; padding-left:10px
}
.header{
    border-bottom:1px solid #eaeaea;padding-bottom:5px;font-weight:bold;font-size:23px;padding-left:0px;padding-top:10px;color:orange
}
.container{
    max-width:40%;position: relative;padding:0 20px;
}
.text-muted{
    font-size:14px
}